# Visual Studio
.vs
visualc
!visualc/resource.h
!visualc/gfxlib.vcxproj.filters
!visualc/gfxlib.vcxproj
!visualc/gfxlib.sln
!visualc/gfxlib.rc
!visualc/gfxicon.ico

# MAC OSX
.DS_Store
xcuserdata
gfxlib.xcscheme

# Windows Thumbs
.Thumbs
