{
    "configurations": [
        {
            "name": "MSVC Debug x64",
            "compilerPath": "C:/Program Files/Microsoft Visual Studio/18/Professional/VC/Tools/MSVC/14.51.36231/bin/Hostx64/x64/cl.exe",
            "intelliSenseMode": "windows-msvc-x64",
            "cppStandard": "c++14",
            "cStandard": "c17",
            "windowsSdkVersion": "10.0.26100.0",
            "defines": [
                "_DEBUG",
                "_WINDOWS",
                "UNICODE",
                "_UNICODE"
            ],
            "includePath": [
                "${workspaceFolder}",
                "${workspaceFolder}/**",
                "${workspaceFolder}/include/**",
                "C:/Program Files/Microsoft Visual Studio/18/Professional/VC/Tools/MSVC/14.51.36231/include",
                "C:/Program Files/Microsoft Visual Studio/18/Professional/VC/Tools/MSVC/14.51.36231/atlmfc/include",
                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt",
                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared",
                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um",
                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt",
                "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/cppwinrt"
            ],
            "browse": {
                "path": [
                    "${workspaceFolder}",
                    "${workspaceFolder}/include",
                    "C:/Program Files/Microsoft Visual Studio/18/Professional/VC/Tools/MSVC/14.51.36231/include",
                    "C:/Program Files/Microsoft Visual Studio/18/Professional/VC/Tools/MSVC/14.51.36231/atlmfc/include",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt",
                    "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/cppwinrt"
                ],
                "limitSymbolsToIncludedHeaders": true
            }
        }
    ],
    "version": 4
}
