{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Launcher",
            "type": "cppvsdbg",
            "request": "launch",
            "preLaunchTask": "Build Debug",
            "program": "${workspaceFolder}/x64/Debug/Launcher.exe",
            "args": [],
            "cwd": "${workspaceFolder}"
        }
    ]
}
